<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=*" >
            <section name="SEMC.CrashLink.BackgroudService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=*" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SEMC.CrashLink.BackgroudService.Properties.Settings.MtbfConnectionString"
            connectionString="Data Source=DB_Server;Initial Catalog=Mtbf;Persist Security Info=True;User ID=*;Password=*"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <SEMC.CrashLink.BackgroudService.Properties.Settings>
            <setting name="DeleteCount" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="DeleteDays" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="DeleteModels" serializeAs="String">
                <value />
            </setting>
        </SEMC.CrashLink.BackgroudService.Properties.Settings>
    </userSettings>
</configuration>